#mainDiv {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 140px; /* Adds spacing between sections */
    flex-wrap: wrap;
    padding-top: 10px;
}

.social-links,
#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.imgDiv img {
    width: 25px;
    height: 25px;
}

.text-center {
    text-align: center;
    padding: 2px 0px;
    margin: 0px;
}

#hr{
    margin: 0px;
    padding: 0px;
}
